<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Arjun\CurrencyConverter\Model\FrankfurterClient">
        <arguments>
            <argument name="baseUrl" xsi:type="string">https://api.frankfurter.dev/v2</argument>
        </arguments>
    </type>
</config>
